- title("Languages")
#content2
  %h1 Languages

  %p The following is a list of the current languages supported.

  %table
    - @languages.each do |language|
      %tr
        %td= language.name
        - if !current_user.blank? && current_user.has_role?('admin')
          %td= link_to 'Edit', edit_language_path(language)
          %td= link_to 'Destroy', language, :confirm => 'Are you sure?', :method => :delete 

  %br

  - if !current_user.blank? && current_user.has_role?('admin')
    = link_to 'New language', new_language_path
