
%h1 Challenges

#challenges.container
  -alt=false
  -if @challenges.blank?
    %div There are no challenges currently.
  -@challenges.each do |challenge|
  -alt=!alt
    .challenge.columns{:class=>cycle('','alt')}
      .container
        .score.column.fixed
          .container
            .number
              %p=challenge.lowest_score
            .label lowest score
        .answers.column.fixed
          .conainer
            .number
              %p=challenge.number_of_answers
            .label answers
        .title.column.elastic
          %a{:href=>url_for(challenge)}
            %h2=challenge.title
          .description
            =challenge.description
